<div class="row">
	<h1>Latest Itineraries</h1>
</div>

<div class="row small-up-4">
	<% @itenaries.each do |itenary| %>
	<div class="column column-block">
		<div class="index-box">
			<h4><%= link_to "#{itenary.title}", itenary_path(itenary.id) %></h4>
		</div>	
	</div>
	<% end %>
</div>