<div class="row">
	<div class="column small-12">
		<h1><%=@itenary.title%></h1>
	</div>

	<div class="small-12 column">
		<p><%=link_to('New Item', 'javascript:void(0)', data: { open: "item-modal" })%></p>
		
		

	</div>

	<div id="item" class="row">
	
		

		<%=render partial: "items/item", collection: @items%>	
	</div>
	
	
	

</div>

<div class="reveal" id="item-modal" data-reveal>
		  <%=render "shared/item_form"%>
		  <button class="close-button" data-close aria-label="Close modal" type="button">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>