<div class="row">
	<div class="column small-12">
		<h1><%=@itenary.title%></h1>
	</div>
	

	<div class="small-12 column">

		<%if @itenary.user.id == current_user.id%>
		<p><%=link_to('New Item', 'javascript:void(0)', id: "new-item")%></p>
		<%end%>
		

	</div>

	<div id="item" class="row">
	
		

		<%=render partial: "items/item", collection: @items%>	
	</div>
	
	
	

</div>

<div class="row" id="item-form">
	<%=render "shared/item_form"%>
	<button class="close-button" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>





