<%= form_for(item, :method => :put, remote: true) do |f| -%>
  <div class="row">
    <div class="medium-6 columns">
      <label>Day
        <%= f.text_field :day %>
        
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <label>Description
        <%= f.text_field :desc %>
        
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <%= f.submit "Update", id: "submit-#{item.id}" %>
    </div>
  </div>
<% end -%>