<%= form_for @itenary do |f| -%>

  <div class="row">
    <div class="medium-12 columns">
      <label>Itenarary title
        <%= f.text_field :title %>
        
      </label>
    </div>
    <div class="row">
    <div class="medium-12 columns">
      <%= f.submit "New Itenarary", class: "button" %>
    </div>
<% end -%>

  
