
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 

 */
@import "variable";
@import "settings";

@import "*";
@import "**/*";

@import "social-share-button";

@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic');
@import "font-awesome";


h1, h2, h3, h4, h5, h6, a {
	font-family: $main-font;
	color: $second-color;
}



//homepage mobile

@media only screen {
	header {
		height: 400px;
		background-image: asset-url("header-bg.jpg");
		background-repeat: no-repeat;
		background-size: cover;


		#login-panel, #itenarary-panel {
			height: 380px;
			width: 60%;
			background-color: $second-color;
			position: relative;
			margin: auto;
			top: 200px;

			#logo h1{
				color: #fff;
			}

			#tag-line {

				position: relative;
				top: -15px;
				h2 {
					color: $main-color;
					
				}

			}

			#signin-button {
				width: 100%;
			}

			
		}

		#itenarary-panel {
			padding-top: 50px;
			h3 {
				color: #fff;
			}
		}

		
		
	}

	main {
		height:200px;
	}


}

@media only screen and (min-width: 40.063em) {

	navbar {

		.menu {
			background-color: #2F3C42;

			a {
				font-family: $second-font;
			}
		}
		
	}

	body {
		position: relative;
	}

	
	header {
		height: 60vh;
		background-image: asset-url("header-bg.jpg");
		background-repeat: no-repeat;
		background-size: 110%;
		background-position: 0% 50%;
		padding: 0;
		margin: 0;


		#login-panel {
			z-index: 5;
			padding-top: 2%;
			height: 400px;
			width: 300px;
			background-color: $second-color;
			position: relative;
			margin: auto;
			top: 20vh;
			left: 20%;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

			

			#signin-button, #facebook-signin {
				width: 100%;
			}

			
		}

		

		#itenarary-panel {
			width: 800px;
			position: relative;
			// margin: auto;
			top: 20vh;
			z-index: 5;
			padding: 30px 20px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			// left: -400px;
		}
		
	}

	#upper-bar {
			position: relative;
			background-color: #2DCB73;
			height: 20vh;
			// top: 110px;

			#logo-web {
				height: 100%;
				padding: 0 17%;

				#logo h1{
				color: #fff;
				
			}

			#tag-line {
			
				position: relative;
				left: 20px;
				top: -15px;

					font-size: 1.2em;

				h4 {

					font-family: $second-font;
					color: black;
				}

			}
			}
		}

	main {
		position: relative;
		height:10vh;
	}

}










